<div class="cont slm">
    <div class="bt"><em></em>测评简介</div>
    <p style="padding-bottom:25px;color:#222;">虽然教育者早就注意到学生们在学习风格（或可称认知风格）方面有很大差异，但苦于没有很好的测试方法。该测试从信息加工、感知、输入、理解四个方面将学习风格分为4个组对8种类型它们是：</p>
    <ul class="wfm">
        <li><span>1</span>活跃型与沉思型</li>
        <li><span>2</span>感悟型与直觉型</li>
        <li><span>3</span>视觉型与言语型</li>
        <li><span>4</span>序列型与综合型</li>
    </ul>
    <p style="color:#222;">你属于什么样的学习风格？不妨利用下面的自测问卷表和分析表来测试一下。</p>
</div>
<div class="cont dyzn">
    <div class="bt"><em></em>测评指导</div>
    <p>下面是一个了解自己学习风格的问卷，每个问题有两个答案可供选择。请选出最符合你学习情况或兴趣的答案。</p>
    <center><img src="images/pic_slm01.png" alt="" style="margin-bottom:54px;" /></center>
</div>
<div class="cont dyzn">
    <div class="bt"><em></em>报告简介</div>
    <p>
        报告包含内容如下:<br />
        第一部分，你的学习风格剖面<br />
        第二部分，你的学习风格详解
    </p>
    <div class="zcfg">
        <div class="lab">
            <span>信息加工方面</span>
            <span>信息感知方面</span>
            <span>信息输入方面</span>
            <span>信息理解方面</span>
        </div>
    </div>
</div>