<div class="cont slm">
    <div class="bt"><em></em>测评简介</div>
    <p>本测验量表将帮助您发现和确定自己的职业兴趣和能力特长，从而更好地做出求职择业的决策。如果您已经考虑好或选择好了自己的职业，本测验将使您的这种考虑或选择具有理论基础，或向您展示其他合适的职业；如果您至今尚未确定职业方向，本测验将帮助您根据自己的情况选择一个恰当的职业目标。</p>
</div>
<div class="cont dyzn">
    <div class="bt"><em></em>报告简介</div>
    <p>
        报告包含内容如下<br />
        第一部分，你的职业倾向剖面<br />
        第二部分，你的职业倾向详解
    </p>
    <div class="zcfg">
        <div class="lab">
            <span>典型倾向</span>
            <span>辅助倾向</span>
            <span>职业清单</span>
        </div>
    </div>
</div>