<div class="cont dyzn">
    <div class="bt"><em></em>测评简介</div>
    <p>多元智能理论是由美国哈佛大学教育研究院的心理发展学家霍华德·加德纳(Howard Gardner)在1983年提出。相对于传统智商测验，多元智能评估涵盖更广。</p>
    <div class="txt">
        <strong>包含八个不同的领域</strong>
        <ul>
            <li>语言智能</li>
            <li>逻辑数学智能</li>
            <li>视觉空间智能</li>
            <li>音乐智能</li>
            <li>身体动觉智能</li>
            <li>人际智能</li>
            <li>内省智能</li>
            <li>自然观察者智能 </li>
        </ul>
    </div>
</div>
<div class="cont dyzn">
    <div class="bt"><em></em>测评指导</div>
    <p>请您就您孩子的日常表现，进行评估，这需要在平时的生活中去寻找，观察和发现，绝不能自己凭空想象。</p>
    <p>答案只需要符合程度，没有对与错，好与坏，只是对您孩子客观的评价，更容易得出准确的测评结果</p>
    <div class="example">
        <p>我的孩子会倾听乐曲的内涵，领受音乐的意境（例如：我的孩子会知道乐曲是表达快乐或是悲伤或是大自然的和谐等）。</p>
        <img src="images/dyzn_pic01.jpg" alt="" />
    </div>
</div>
<div class="cont dyzn">
    <div class="bt"><em></em>报告简介</div>
    <p>		
        报告包含内容如下<br />
        你孩子的多元智能剖面图<br />
        你孩子的多元智能详解<br />
    </p>
    <div class="zcfg">
        <div class="lab">
            <span>语言智能</span><span>逻辑数据智能</span>
            <span>视觉空间智能</span><span>身体动觉智能</span>
            <span>音乐智能</span><span>人际智能</span><span>内省智能</span><span>自然观察者智能</span>
        </div>
    </div>
</div>