<div class="cont">
    <div class="bt"><em></em>测评简介</div>
    <p style="padding-bottom:25px;">多元智学习适应性测验（Academic Adjustment Inventory,简称AAT）是用来测量学生克服内在和外在种种困难取得较好学习效果的一种学习适应能力，小学5—6年级的学习适应性测验测评九个方面：</p>
    <ul class="wfm">
        <li><span>1</span>学习热情</li>
        <li><span>2</span>学习计划</li>
        <li><span>3</span>听课方法</li>
        <li><span>4</span>学习技术</li>
        <li><span>5</span>家庭环境</li>
        <li><span>6</span>学校环境</li>
        <li><span>7</span>独立性</li>
        <li><span>8</span>毅力</li>
        <li><span>9</span>心身健康</li>
    </ul>
</div>
<div class="cont dyzn">
    <div class="bt"><em></em>测评指导</div>
    <p>本调查的每一个问题都有可供选择的答案，家长/老师读出问题和答案，请孩子选出最适合自己的答案，并完选择。</p>
    <center><img src="images/pic_xxsy02.png" alt="" style="margin-bottom:54px;" /></center>
</div>
<div class="cont dyzn">
    <div class="bt"><em></em>报告简介</div>
    <p>		
        报告包含内容如下：<br />
        第一部分：您孩子的学习适应性剖面图<br />
        第二部分：您孩子的学习适应详细分析<br />
        第三部分：您孩子的归因类型分析<br />
        第四部分：您孩子的学习方式
    </p>
</div>