<div class="cont dyzn">
    <div class="bt"><em></em>测评简介</div>
    <p>所谓气质，是指儿童对身体内在或外来刺激反应的方式，也就是他们在每天的生活里不同情况下的行为表现。</p>
    <p>气质大部分是先天形成的，没有什么好坏之分。但是，每个小孩生下来就有气质上的差别，而气质不同的孩子需要不同的照应。</p>
    <p>该测试分析孩子的三大气质类型，九大气质特征，帮助您系统的了解您孩子的气质，因材施教。</p>
</div>
<div class="cont dyzn">
    <div class="bt"><em></em>测评指导</div>
    <p>请您就您孩子的日常表现，进行评估，这需要在平时的生活中去寻找，观察和发现，绝不能自己凭空想象。 </p>
    <p>答案只需要符合程度，没有对与错，好与坏，只是对您孩子客观的评价，更容易得出准确的测评结果</p>
    <center><img src="images/pic_zqrt01.png" alt="" style="margin-bottom:54px;" /></center>
</div>
<div class="cont dyzn">
    <div class="bt"><em></em>报告简介</div>
    <p>		
        报告包含内容如下<br />
        第一部分 您孩子的气质类型<br />
        第二部分 您孩子的九大气质特征
    </p>
    <div class="zcfg">
        <div class="lab">
            <span>语言智能</span><span>逻辑数据智能</span>
            <span>视觉空间智能</span><span>身体动觉智能</span>
            <span>音乐智能</span><span>人际智能</span><span>内省智能</span><span>自然观察者智能</span>
        </div>
    </div>
</div>