<div class="cont slm">
    <div class="bt"><em></em>测评简介</div>
    <p>职业锚作为个体自我概念的核心组成部分，是个体对自己在成长过程中慢慢形成的态度、价值观与天赋的自我认知，它体现了"真实的自我"。当个体在进行职业方面的决策时，职业锚是最关键的因素之一，也是个体"内心"无论如何都不会放弃的价值追求。</p>
    <p>职业锚决定个体会选择什么样的职业与什么类型的工作单位；决定个体是否会喜欢所从事的工作，是否会跳槽；会决定个体在工作中是否有成就感……可以说，职业锚是每一个人在进行职业决策之前，都应该清楚地了解的东西。只有当一个人对自己的职业锚有清楚了解之后，才有可能做出更正确的决策</p>
</div>
<div class="cont dyzn">
    <div class="bt"><em></em>测评指导</div>
    <p>职业锚包含八种类型</p>
    <div class="zylx">
        <span style="width:192px; padding:0px;">服务/助人型</span>
        <span style="width:192px; padding:0px;">安全/稳定型</span>
        <span style="width:192px; padding:0px;">管理/领导型</span>
        <span style="width:192px; padding:0px;">技术/专业型</span>
        <span style="width:192px; padding:0px;">创新/创造型</span>
        <span style="width:192px; padding:0px;">挑战/成就型</span>
        <span style="width:192px; padding:0px;">自主/独立型</span>
        <span style="width:192px; padding:0px;">生活型</span>
    </div>
    <p>请您根据您的实际情况，从1～6中选择一个数字。数、字越大，表示这种描述越符合您的实际情况。例如"我希望我的工作能够按我自己的方式，按自己的计划去开展。"，您可以做出如下选择：</p>
    <center><img src="images/pic_zypg01.png" alt="" style="margin-bottom:54px;" /></center>
</div>
<div class="cont dyzn">
    <div class="bt"><em></em>报告简介</div>
    <p>
        报告包含内容如下<br />
        职业锚剖面图<br />
        职业锚详解
    </p>
    <div class="zcfg">
        <div class="lab">
            <span>主要职业锚</span>
            <span>辅助职业锚</span>
        </div>
    </div>
</div>